:root{
  --primary_color:#000000;
  --secondary_color:#FFFFFF;
    --primary_bg_color:#FFFFFF;
  --secondary_bg_color:#000000;
}
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(209, 209, 212, 1);
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box{
  transition: all 2s;
  margin: 10px;
  overflow: hidden;
  background-color: rgba(209, 209, 212, 1);
  border-radius: 10px;
  box-shadow:  3px 3px 10px rgba(174, 174, 192, 1), -3px -3px 10px rgba(255, 255, 255, 1), -3px -3px 10px rgba(174, 174, 192, 1), -3px -3px 10px rgba(255, 255, 255, 1);
}
.box img{
  height: 300px;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
}