.homePage {
  width: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.introbox {
  width: 90%;
}

.introHeading {
  font-size: 50px;
  text-align: center;
  font-family: "Space Grotesk", sans-serif;
  transform-origin: bottom;
  background: linear-gradient(90deg, #8a2be2, #ff00cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.intro {
  color: var(--secondary_color);
  padding: 0px;
  font-size: 25px;
  text-align: center;
  font-style: italic;
  font-family: "Crete Round", sans-serif;
}